.filteringContainer {
  border: 1px solid #CDCDCD;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.registrationContainer {
  border: 1px solid #CDCDCD;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.listContainer {
  border: 1px solid #CDCDCD;
  border-radius: 20px;
  background-color: white;
  margin: 15px 10px 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.relativeBoxContainer{
  position: relative;
}

.formButton {
  cursor: pointer;
  background-color: #B0D2FA;
  color: #0A47A3;
  border: none;
  padding: 8px 30px;
  min-width: 100px;
  margin: 0 0 0 25px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}

.formButton:hover {
  background-color: #0057b36c;
}

.filteringBox {
  background-color: #B0D2FA;
  border-radius: 0 18px 0 20px;
  display: inline-block;
  padding: 5px 15px 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Orbitron';
  letter-spacing: 2px;
}

.labelText {
  margin-right: 10px;
  font-size: 12px;
}

.updateLabelText {
  color: gray;
  margin-right: 11px;
  font-size: 13px;
}

.inputText {
  width: 12.3vw;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 6.5px;
  padding-right: 10px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #CDCDCD;
}

.specificInputText {
  color: gray;
  text-align: center;
}

.inputContainer {
  margin: 20px;
  width: 100%;
}

.inputText::placeholder {
  text-align: center;
  font-size: 10px;
}

.optionLabel {
  font-weight: bold;
  margin-bottom: 10px;
}

.optionContainer {
  display: flex;
  border-bottom: 1px solid #CDCDCD;
  padding: 5px 0px 5px 0px;
  margin-bottom: 9px;
  max-width: 280px;
}

.radioLabel {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.radioInput {
  margin-right: 8px;
  cursor: pointer;
}

/* .radioCustom {
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
} */

.radioInput:checked + .radioCustom {
  border-color: #007bff;
  background-color: #007bff;
}

.radioCustom::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.listTitle {
  background-color: #B0D2FA;
  border-radius: 18px 18px 0 0;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.logCount {
  background-color: #6b9ed7;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.logTable {
  width: 97%;
  border-collapse: collapse;
  margin: 20px;
  font-size: 11px
}

.logTable th, .logTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.logTable th {
  background-color: #B0D2FA
}

.listIcon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.moreButtonContainer {
  display: flex;
  justify-content: center;
}

.moreButton {
  cursor: pointer;
  padding: 10px 100px 10px 100px;
  margin-bottom: 16px;
  background-color: #B0D2FA;
  border: none;
  border-radius: 20px;
  opacity: 70%;
}

.logIcon {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.filterTable {
  border-collapse: collapse;
}

.filterTable td {
  padding: 2px 5px;
  border: none;
  vertical-align: top;
}

.filterTable label {
  display: block;
  margin-bottom: 3px;
}

.submitButtonCell {
  text-align: center;
  padding-top: 10px;
}
/* 모달 css */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background: white;
  border-radius: 10px;
  max-width: 600px;
  width: auto;
  z-index: 1001;
}

.deviceInfoBox {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.imageContainer {
  background-color: rgb(28, 28, 28);
  color: white
}

.deviceImageBox {
  display: flex;
  margin-bottom: 40px;
}

/* 디바이스 이미지 16:9를 3.2배율로 설정 */
.deviceImage {
  background-color: gray;
  width: 288px;
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deviceEachImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
}

.closeButton {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 17px;
  top: 10px;
  cursor: pointer;
}

.closeButton:hover,
.closeButton:focus {
  color: #c0c0c0;
  text-decoration: none;
  cursor: pointer;
}

.updateModalContainer {
  padding: 20px;
}

.formContainer {
  display: inline-block;
  margin: 20px 20px 10px 20px;
}

.formGroup {
  margin-top: 10px;
}

.formGroup select {
  height: 29px;
  width: 13.4vw;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.updateInputText {
  margin-right: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  height: 25px;
  width: 12vw;
  border: 1px solid #5f7690;
}


.updateInputText::placeholder {
  text-align: center;
  font-size: 13px;
}

.updateInputText:focus {
  border: 1px solid #4A90E2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  outline: none;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #1d8afe;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.submitButton img {
  width: 24px;
  height: 24px;
}

.submitButton:hover {
  background-color: #B0D2FA;
  border-color: #1d8afe;
}

.updateButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.inputText:focus {
  border: 1px solid #4A90E2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  outline: none;
}

.tdCell {
  display: block;
}

.tdCell div {
  text-align: center;
  padding: 5px 15px;
  background-color: #B0D2FA;
  border-radius: 10px;
  color: #0A47A3;
  border: none;
  margin: 0 10px 0 0;
  font-size: 14px;
  font-weight: bold;
}

.buttonCell {
  vertical-align: left;
  padding-top: 0;
  line-height: 1;
  text-align: right;
}

.timeCell {
  margin-left: 30px;
}

.inputText option {
  text-align: center;
}

.entryText {
  color: blue;
  font-weight: bold;
}

.exitText {
  color: gray;
  font-weight: bold;
}

.noIssue {
  font-weight: bold;
  color: #28a745;
}

.issueDetected {
  font-weight: bold;
  color: #dc3545;
}

.countText {
  font-weight: bold;
}