.filteringContainer {
  border: 1px solid #CDCDCD;
  border-radius: 20px;
  background-color: white;
  margin: 10px 10px 15px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.registrationContainer {
  border: 1px solid #CDCDCD;
  border-radius: 20px;
  background-color: white;
  margin: 10px 10px 15px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.listContainer {
  border: 1px solid #CDCDCD;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.relativeBoxContainer{
  position: relative;
}

.formButton {
  position: absolute;
  bottom: 8px;
  right: 2px;
  cursor: pointer;
  background-color: #B0D2FA;
  color: #0A47A3;
  border: none;
  padding: 8px 30px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}

.formButton:hover {
  background-color: #0057b36c;
}

.filteringBox {
  background-color: #B0D2FA;
  border-radius: 0 18px 0 20px;
  display: inline-block;
  padding: 5px 15px 5px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Orbitron';
  letter-spacing: 2px;
}

.labelText {
  margin-right: 10px;
  font-size: 12px;
}

.inputText {
width: 100%;
margin: 0;
margin-bottom: 10px;
padding: 5px;
box-sizing: border-box;
border-radius: 10px;
border: 1px solid #CDCDCD;
}

.logCount {
  background-color: #6b9ed7;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.filterTable {
  width: 100%;
  border-collapse: collapse;
}

.filterTable td {
padding: 2px 5px;
border: none;
vertical-align: top;
}

.filterTable label {
display: block;
margin-bottom: 3px;
}

.submitButtonCell {
text-align: center;
padding-top: 10px;
}

.inputContainer {
  margin: 20px;
  width: 80%;
}

.inputText::placeholder {
  text-align: center;
  font-size: 10px;
}

.optionLabel {
  font-weight: bold;
  margin-bottom: 10px;
}

.optionContainer {
  display: flex;
  border-bottom: 1px solid #CDCDCD;
  padding: 5px 0px 5px 0px;
  margin-bottom: 9px;
  max-width: 280px;
}

.radioLabel {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.radioInput {
  margin-right: 8px;
  cursor: pointer;
}

/* .radioCustom {
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
} */

.radioInput:checked + .radioCustom {
  border-color: #007bff;
  background-color: #007bff;
}

.radioCustom::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.listTitle {
  background-color: #B0D2FA;
  border-radius: 18px 18px 0 0;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.tableContainer{
  padding: 0 30px 0 30px;
}

.logTable {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0 25px 0;
  font-size: 11px
}

.logTable th, .logTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.listIcon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.moreButtonContainer {
  display: flex;
  justify-content: center;
}

.moreButton {
  cursor: pointer;
  padding: 10px 100px 10px 100px;
  margin-bottom: 16px;
  background-color: #B0D2FA;
  border: none;
  border-radius: 20px;
  opacity: 70%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-width: 90%;
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
}