:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: #eeeeee;
  overflow: hidden;
}
.sidebar {
  position: absolute;
  width: 290px;
  height: 1024px;
  top: 0;
  left: 0;
  background: #515151;
  z-index: 8;
}
.logo {
  position: relative;
  width: 241px;
  height: 105px;
  margin: 21px 0 0 24px;
  background: url(./assets/images/befeb6f6391ad6add964798085156bcdbb9ae10f.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
}
.logo-divider {
  position: relative;
  width: 290px;
  height: 1px;
  margin: -1px 0 0 0;
  background: url(./assets/images/67f342d3-5c32-4961-a1a2-d1122487d33d.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 42px;
  top: 181px;
  left: 144px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 19;
}
.vector {
  position: absolute;
  width: 30.987px;
  height: 29.266px;
  top: 187.863px;
  left: 60.006px;
  background: url(./assets/images/b72f02f3-6bc6-4ef4-a6b4-aada3dab0a86.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 18;
}
.search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 42px;
  top: 292px;
  left: 144px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 20;
}
.vector-1 {
  position: absolute;
  width: 26.25px;
  height: 14.583px;
  top: 306.208px;
  left: 62.375px;
  background: url(./assets/images/922b2f43-6789-45aa-bda9-d9afc481e2c7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 11;
}
.statistics {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 42px;
  top: 402px;
  left: 147px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 23;
}
.statistics-icon {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 407px;
  left: 61px;
  z-index: 12;
  overflow: hidden;
}
.vector-2 {
  position: relative;
  width: 27.376px;
  height: 26.249px;
  margin: 3.828px 0 0 3.818px;
  background: url(./assets/images/8a19e5a8-6cdc-4b06-a20e-f9b6c078b6f3.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 13;
}
.management {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 42px;
  top: 513px;
  left: 144px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 22;
}
.management-icon {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 517px;
  left: 58px;
  z-index: 14;
  overflow: hidden;
}
.vector-3 {
  position: relative;
  width: 34.965px;
  height: 27.707px;
  margin: 3.647px 0 0 0.01px;
  background: url(./assets/images/d6f985ac-7b4a-4786-a3d5-a21d600f5444.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
}
.real-time {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 42px;
  top: 624px;
  left: 144px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 21;
}
.real-time-icon {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 628px;
  left: 58px;
  background: url(./assets/images/6f89dc58-3507-40de-ba8c-507a13a84691.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
  overflow: hidden;
}
.nav-bar {
  position: absolute;
  width: 1150px;
  height: 60px;
  top: 0;
  left: 290px;
  background: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.logout {
  position: absolute;
  width: 3.91%;
  height: 88.33%;
  top: 5%;
  left: 95.22%;
  background: url(./assets/images/b32a47f2b73725a087aba6685636ad2ad2f0d70b.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.log-out {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 50%;
  top: 25%;
  left: 87.13%;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 5;
}
.login-time {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 18px;
  left: 200px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 1;
}
.access-time {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 18px;
  left: 430px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 2;
}
.admin-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 18px;
  left: 48px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 3;
}
.weekly-stats {
  position: absolute;
  width: 31.18%;
  height: 69.04%;
  top: 9.67%;
  left: 23.47%;
  font-size: 0px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  z-index: 26;
  border-radius: 20px;
}
.daily-issues {
  display: block;
  position: relative;
  height: 18.417px;
  margin: 19.44px 0 0 40px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 300;
  line-height: 18.153px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 27;
  -webkit-text-stroke: 1px #cdcdcd;
}
.graph {
  position: relative;
  width: 409px;
  height: 250.673px;
  margin: 23.509px 0 0 20px;
  background: url(./assets/images/8cfd8a3cf2eaef28b95cdded6ed8aa006ed56c01.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
  border-radius: 20px;
}
.issue-ratio {
  display: block;
  position: relative;
  height: 18.417px;
  margin: 49.089px 0 0 40px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 300;
  line-height: 18.153px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 28;
  -webkit-text-stroke: 1px #cdcdcd;
}
.graph-4 {
  position: relative;
  width: 393px;
  height: 293.645px;
  margin: 26.579px 0 0 24px;
  background: url(./assets/images/da0baaae748622ea1c12cbbf8abbdb39a8ac77ab.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
  border-radius: 20px;
}
.security-issues-list {
  position: absolute;
  width: 566px;
  height: 887.973px;
  top: 99.027px;
  left: 826px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  z-index: 43;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle {
  position: relative;
  width: 566px;
  height: 44px;
  margin: -0.03px 0 0 0;
  background: #b0d2fa;
  border: 1px solid #cdcdcd;
  z-index: 44;
  border-radius: 20px 20px 0 0;
}
.real-time-log {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23.208px;
  top: 9.118px;
  left: 215px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 23.208px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 51;
  -webkit-text-stroke: 1px #cdcdcd;
}
.table-header {
  position: relative;
  width: 512px;
  height: 1px;
  margin: 15.052px 0 0 31px;
  background: url(./assets/images/d2304512-8835-40b0-be8c-2d5a3d77fdef.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
}
.device-time-info {
  display: block;
  position: relative;
  height: 24.217px;
  margin: 13.618px 0 0 37px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 24.205px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 45;
  -webkit-text-stroke: 1px #cdcdcd;
}
.table-footer {
  position: relative;
  width: 512px;
  height: 1px;
  margin: 13.618px 0 0 31px;
  background: url(./assets/images/e9eb3888-6a96-4e56-8ae8-a18c2b9ec9ae.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
}
.employee-info {
  display: block;
  position: relative;
  height: 24.217px;
  margin: 13.618px 0 0 37px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 24.205px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 48;
}
.employee-info-5 {
  display: block;
  position: relative;
  height: 24.217px;
  margin: 19.163px 0 0 37px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 24.205px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 49;
}
.employee-info-6 {
  display: block;
  position: relative;
  height: 24.217px;
  margin: 19.163px 0 0 37px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 24.205px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 50;
}
.total-amount {
  position: absolute;
  width: 449px;
  height: 144px;
  top: 843px;
  left: 338px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  z-index: 32;
  border-radius: 10px;
  box-sizing: content-box;
}
.flex-column {
  position: absolute;
  width: 250px;
  height: 144px;
  top: 0;
  left: 0;
  z-index: 39;
}
.alarm-table-background {
  position: relative;
  width: 250px;
  height: 48px;
  margin: 0 0 0 0;
  background: #b0d2fa;
  border: 1px solid #cdcdcd;
  z-index: 34;
  border-radius: 10px 0 0 0;
  box-sizing: content-box;
}
.today-device-users {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 13px;
  left: 65px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.security-issue-count {
  display: block;
  position: relative;
  height: 22px;
  margin: 13px 0 0 37px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.alarm-table-background-7 {
  position: relative;
  width: 250px;
  height: 48px;
  margin: 13px 0 0 0;
  background: #b0d2fa;
  border: 1px solid #cdcdcd;
  z-index: 37;
  border-radius: 0 0 0 10px;
  box-sizing: content-box;
}
.security-issue-rate {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 13px;
  left: 55px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.flex-column-c {
  position: absolute;
  width: 199px;
  height: 121px;
  top: 10px;
  left: 250px;
  font-size: 0px;
  z-index: 40;
}
.issue-count {
  display: block;
  position: relative;
  height: 22px;
  margin: 0 0 0 70px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.alarm-table-background-8 {
  position: relative;
  width: 199px;
  height: 48px;
  margin: 16px 0 0 0;
  background: #b0d2fa;
  border: 1px solid #cdcdcd;
  z-index: 36;
  box-sizing: content-box;
}
.count {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 12px;
  left: 76px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.percentage {
  display: block;
  position: relative;
  height: 22px;
  margin: 13px 0 0 76px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
