.sidebar {
    height: 100%;
    background-color: #515151;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기 계산 */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin: 20px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .activeLink {
    font-weight: bold;
    color: blue;
  }

  .logoImage {
    width: 130px;
  }

  .labelIcon {
    
  }
  