.sidebar {
  height: 100%;
  background-color: #515151;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1)
}

.normalLink {
  padding: 15px 15px;
  margin: 20px 0 10px 0;
  cursor: pointer;
}

.labelIcon {
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: #ffffff; 
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 4px;
}

.activeText {
  background-color: #6a6a6a;
  color: #ffffff;
  font-size: 21px;
  transform: scale(1.1);
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.activeLink {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.activeLink:hover {
  font-size: 23px
}

.logoImage {
  width: 160px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}
